
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*,::before,::after{

  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}
.dynamic-link {
//   color: $secondary;
  text-decoration: none;
  font-weight: 500;
//   border-bottom: 2px solid $secondary;
  line-break: anywhere;
}

body {
  scroll-behavior: smooth;
  // font-weight: 400;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 15px;
  background-color: initial ;
}

h1, h2, h3, h4, h5 {
  // font-family: 'undefined';
  font-weight: 700;
}

// html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


$primary-color: #333;
$secondary-color: rgb(34 197 94);
$border-radius: 5px;
$background-color: rgba(247, 247, 247,0.9);
// $background-color: #f7f7f7;
$input-border-color: #e0e0e0;
$white: #fff;
$shadow: 0px 0px 1px rgba(0,0,0,0.2);
$text:rgb(113 113 122);
body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
//   height: 100vh;
}

.alert{
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
    &.alert-danger{
        background-color: rgba(255, 0, 0,0.1);
        color: red;
    }
}

 .header {
    width: 100%;
    background-color: $white;
    // margin-bottom: 20px;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $shadow;


    @media only screen and (max-width: 792px){
        width: 100%;
    }


    button{
         width: max-content;
        padding: 8px 20px;
        background-color: $secondary-color;
        color: $white;
        box-shadow: 0px 0px 2px #ccc;
        border: none;
        border-radius: $border-radius;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        cursor: pointer;
    }
    .user{
        display: flex;
        align-items: center;
        background-color: red($color: #000000);
        gap: 10px;
    }
    .logo {
      width: 130px;
    }

    h1 {
      font-size: 24px;
      margin: 0;
      color: $secondary-color;
    }
  }
.container {
  width: 100%;
padding:1rem;
@media only screen and (max-width: 792px){
    width: 100%;
}
  .login-form {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media only screen and (max-width: 792px){
    width: 100%;
    padding: 0;
    }
    .card{
        border-radius: $border-radius;
        box-shadow: $shadow;
        background-color: $white;
        padding: 2rem;
        width: 380px;
        @media only screen and (max-width: 792px){
            width: 100%;
        }
    }
    h2 {
      font-size: 20px;
      color: $primary-color;
    }

    p {
      font-size: 13px;
      color: $text;
      margin: 10px;
      font-weight: 400;
    }


    form {

      .form-group {
        margin-bottom: 15px;
        text-align: left;
        margin: 20px 0px;
        label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
          font-weight: 500;
          font-size: 13px;
        }

        input {
          width: 100%;
          padding: 8px;
          border: 1px solid $input-border-color;
          border-radius: $border-radius;
          font-size: 14px;
          transition: all 1s ease-in-out;
          &:hover{
            border-color: $secondary-color;
          }
        }

        span {
          font-size: 12px;
          color: $primary-color;
        }
      }

      .login-button {
        width: max-content;
        padding: 8px 20px;
        background-color: $white;
        color: $primary-color;
        // color: #fff;
        box-shadow: 0px 0px 2px #ccc;
        // border: 1px solid $text;
        border: none;
        border-radius: $border-radius;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        cursor: pointer;
      }
    }

    .forgot-password {
      display: block;
      margin-top: 10px;
      font-size: 14px;
      color: $primary-color;
      text-decoration: underline;
        font-size: 12px;
        font-weight: 300;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.home{
    width: 100%;
     @media only screen and (max-width: 792px){
            width: 100%;
    }
    .content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }
         @media only screen and (max-width: 792px){
            width: 100%;
        }
        .row{
            width: 800px;
            display: flex;
            // align-items: flex-start;
            justify-content: center;
            gap: 5px;
            margin-inline: auto;
            background-color: #fff;
            padding: 1rem;
            border-radius: 10px;
            box-shadow: $shadow;
            @media only screen and (max-width: 792px){
                width: 100%;
                // flex-wrap: wrap;
                flex-wrap: wrap-reverse;
                gap: 10px;
            }
            &.colunm{
                flex-direction: column-reverse;
                margin-inline: auto;
                align-items: center;
            }
            .col{
                width: 50%;
                @media only screen and (max-width: 792px){
                width: 100%;
                }
                .card{
                min-height: 100px;
                border-radius: 10px;
                // box-shadow: $shadow;
                // background-color: $white;
                padding: 1rem 2rem;
                @media only screen and (max-width: 792px){
                width: 100%;
                padding: 1rem;
                }
                    h5{
                        font-size: 15px;
                        color: $primary-color;
                        margin: 15px 0;
                         @media only screen and (max-width: 792px){
                            font-size: 13px;
                        }
                    }
                    &.styck{
                        position: sticky;
                        top: 60px;
                background-color: RED;
                    }
                }
                &:first-child{
                    // width: 50%;
                    background-color: $background-color;
                    border-radius: 10px ;
                    padding:1rem 2rem;

                    .card{
                        padding: 0;
                    }

                    input{
                        background-color: white;
                    }
                }
                &:last-child{
                    // width: 40%;
                    // background-color: red;
                    .card{
                        padding: 1rem;
                    }
                }
                form {
                @media only screen and (max-width: 792px){
                    width: 100%;
                }
                .form-group {
                    margin-bottom: 15px;
                    text-align: left;
                    margin: 20px 0px;
                    width: 100%;
                    label {
                    display: block;
                    font-weight: bold;
                    margin-bottom: 5px;
                    font-weight: 500;
                    font-size: 13px;
                     @media only screen and (max-width: 792px){
                        font-size: 12px;
                        }
                    }

                    select,input {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid $input-border-color;
                    border-radius: $border-radius;
                    font-size: 12px;
                    }

                    span {
                    font-size: 12px;
                    color: $primary-color;
                    }
                }
                .contentchild{
                    width: 100%;

                    .rowinput{
                        display: flex;
                        gap: 10px;
                        width: 100%;
                    }
                }

                  .login-button {
                    width: 100%;
                    padding: 10px 30px;
                    background-color: $secondary-color;
                    margin-top: 10px;
                    color: $white;
                    box-shadow: 0px 0px 2px #ccc;
                    border: none;
                    border-radius: 10px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    cursor: pointer;
                }

                }
                .items{
                    width: 100%;
                    .item{
                        width: 100%;
                        display: flex;

                        font-size: 14px;
                        color: $primary-color;
                        gap: 5px;
                        align-items: flex-start;
                        &.rowItem{
                        border-top: 1px solid #e0e0e0;
                        padding: 1rem 0;
                        small{
                            margin-top: 0px;
                        }
                        // background-color: red;

                        }
                        &:nth-child(5){
                            // background-color: red;
                            .trait{
                                display: none;
                            }
                        }
                        &.step{
                            display: flex;
                        }
                        .element{
                            align-items: center;
                            justify-content: space-between;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            gap: 5px;
                            &.element2{
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: start;
                                .li{
                                    // background-color: red;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    width: 100%;
                                }
                            }
                            span{
                                // background-color: red;
                                &:first-child{
                                    // width: 50%;
                                    display: block;
                                }
                            }
                        }
                        .goupeStep{
                            width: max-content;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .rond{
                                width: 25px;
                                height: 25px;
                                background-color: $secondary-color;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $white;
                            }
                            .trait{
                                width: 2px;
                                min-height: 45px;
                                // min-height: 40px;
                                background-color: $secondary-color;
                                // color: $primary-color;
                                // border: 1px dashed red;
                            }
                        }
                        small{
                            color: $text;
                            margin-top: 8px;
                        }
                        &:first-child{
                            border:none !important ;
                            // background-color: red;
                        }
                        .info{
                            padding-left: 2px;
                            justify-content: space-between;
                            // background-color: red;
                            display: flex;
                            align-items: center;
                            width: 100%;
                        }
                        &.rowItem{
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            img{
                                height: 20px;
                            }
                        }
                        @media only screen and (max-width: 792px){
                            font-size: 12px;
                        }
                        &.total{
                            border-top: 1px solid $input-border-color;
                            margin-top: 15px;
                            align-items: center;
                            justify-content: space-between;
                            padding: 15px 0;
                            text-transform: uppercase;
                            span{
                            font-weight: 800 !important;
                            }
                        }
                        span{
                            &:last-child{
                                font-weight: 800;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.formstatus{
    width: 100%;
    @media only screen and (max-width: 792px){
        width: 100%;

    }
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .card{
            min-height: 100px;
            width: 400px;
            border-radius: 10px;
            box-shadow: $shadow;
            background-color: $white;
            padding: 1rem 2rem ;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .ico{
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 128, 0,0.1);
                color: green;
                border-radius: 50%;
                &.reject{
                    background-color: rgba(255, 0, 0,0.1);
                    color: red;
                }
            }
                h5{
                    font-size: 15px;
                    color: $primary-color;
                    margin: 15px 0;
                }
                &.styck{
                    position: sticky;
                    top: 60px;
            background-color: RED;
                }
            }
    }
}

.test{
    margin-top: 1rem;
    background-color: red;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

.status{
    width: max-content;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 13px;

     &.pennding {
        background-color: rgb(255, 165, 0, 0.1);
        color: #ffa500 !important;
        box-shadow: 0px 0px 2px #ffa500;
    }

    &.approuve {
        background-color: #28dd701a;
        color: #047131 !important;
        box-shadow: 0px 0px 2px #28dd70;

    }

     &.reject {
        background-color: rgb(255, 213, 213);
        color: red !important;
        box-shadow: 0px 0px 2px red;
    }
}


