
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*,::before,::after{

  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}
.dynamic-link {
//   color: $secondary;
  text-decoration: none;
  font-weight: 500;
//   border-bottom: 2px solid $secondary;
  line-break: anywhere;
}

body {
  scroll-behavior: smooth;
  // font-weight: 400;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 15px;
  background-color: initial ;
}

h1, h2, h3, h4, h5 {
  // font-family: 'undefined';
  font-weight: 700;
}

// html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


$primary-color: #333;
$secondary-color: rgb(34 197 94);
$border-radius: 5px;
$background-color: rgba(247, 247, 247,0.9);
// $background-color: #f7f7f7;
$input-border-color: #e0e0e0;
$white: #fff;
$shadow: 0px 0px 1px rgba(0,0,0,0.2);
$text:rgb(113 113 122);
body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
//   height: 100vh;
}

.alert {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
}

.alert-success {
    color: #166434;
    background-color: #dcfce7;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert{
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
    &.alert-danger{
        background-color: rgba(255, 0, 0,0.1);
        color: red;
    }
}

 .header {
    width: 100%;
    background-color: $white;
    // margin-bottom: 20px;
    padding: 12px 20px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $shadow;


    @media only screen and (max-width: 792px){
        width: 100%;
    }


    // button{
    //      width: max-content;
    //     padding: 8px 20px;
    //     background-color: $secondary-color;
    //     color: $white;
    //     box-shadow: 0px 0px 2px #ccc;
    //     border: none;
    //     border-radius: $border-radius;
    //     font-size: 16px;
    //     cursor: pointer;
    //     transition: background-color 0.3s;
    //     cursor: pointer;
    // }
    .user{
        display: flex;
        align-items: center;
        background-color: red($color: #000000);
        gap: 10px;
    }
    .logo {
      width: 100px;
    }

    h1 {
      font-size: 24px;
      margin: 0;
      color: $secondary-color;
    }
  }


.header-home {
    width: 100%;
    background-color: $white;
    padding: 12px 20px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $shadow;
    z-index: 10;
    .user{
        cursor: pointer;
        position: relative;
        .info{
        background-color: #dcfce7;
        color: #166434;
        padding: 8px 16px;
        font-weight: 700;
        border-radius: 50px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: max-content;
        position: relative;
        border: 1px solid transparent;
        transition: all .4s ease-in-out;
        &.active{
            border-color: #166434;
            .dropDown{
            // transform: translateY(0);
            transform: scale(1);
            visibility: visible;
            opacity: 1;
            }
        }
        .dropDown{
            transition: all 0.1s ease-in-out;
            position: absolute;
            top: 150%;
            transform: scale(0.8);
            visibility: hidden;
            opacity: 0;
            width: max-content;
            min-width: 200px;
            right: 0;
            z-index: -1;
            background-color: $white;
            padding: 5px 5px;
            box-shadow: $shadow;
            border-radius: 5px;
            color: $primary-color;
            li{
                padding: 10px 10px;
                gap: 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 5px;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: $background-color;
                }
                button{
                    background-color: transparent;
                    border: none;
                    font-weight: 700;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 12px;
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }
        }
        span{
        font-size: 12px;
        }
        a{
            font-size: 12px;
            color: $primary-color;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            // background-color: red;
            gap: 10px;
        }
    }

    @media only screen and (max-width: 792px){
        width: 100%;
    }

    .logo {
        width: 110px;
    }

    h1 {
      font-size: 24px;
      margin: 0;
      color: $secondary-color;
    }
}

.login{


.container {
  width: 100%;
padding:1rem;
@media only screen and (max-width: 792px){
    width: 100%;
}
  .login-form {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media only screen and (max-width: 792px){
    width: 100%;
    padding: 0;
    }
    .card{
        border-radius: $border-radius;
        box-shadow: $shadow;
        background-color: $white;
        padding: 2rem;
        width: 390px;
        // min-height: 400px;
        @media only screen and (max-width: 792px){
            width: 100%;
        }
    }
    h2 {
      font-size: 20px;
      color: $primary-color;
    }

    p {
      font-size: 13px;
      color: $text;
      margin: 10px;
      font-weight: 400;
    }


    form {

      .form-group {
        margin-bottom: 15px;
        text-align: left;
        margin: 20px 0px;
        label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
          font-weight: 500;
          font-size: 13px;
        }

        input {
          width: 100%;
          padding: 8px;
          border: 1px solid $input-border-color;
          border-radius: $border-radius;
          font-size: 14px;
          transition: all 1s ease-in-out;
          &:hover{
            border-color: $secondary-color;
          }
        }

        span {
          font-size: 12px;
          color: $primary-color;
        }
      }

      .login-button {
        width: max-content;
        padding: 8px 20px;
        background-color: $white;
        color: $primary-color;
        // color: #fff;
        box-shadow: 0px 0px 2px #ccc;
        // border: 1px solid $text;
        border: none;
        border-radius: $border-radius;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        cursor: pointer;
      }
    }


   .subtitle, .forgot-password {
      display: block;
      margin-top: 10px;
      font-size: 14px;
      color: $primary-color;
      text-decoration: underline;
        font-size: 12px;
        font-weight: 300;
      &:hover {
        text-decoration: underline;
      }
    }
    .subtitle{
        text-decoration: none;
        font-weight: 400;
        &:hover{
            text-decoration: none;
        }
    }
  }
}
}

.home{
    width: 100%;
     @media only screen and (max-width: 792px){
            width: 100%;
    }
    .content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .headerStatut{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }
         @media only screen and (max-width: 792px){
            width: 100%;
        }
        .row{
            width: 95%;
            display: flex;
            justify-content: center;
            gap: 5px;
            margin-inline: auto;
            // background-color: red;
            // padding: 1rem;
            border-radius: 10px;
            // background-color: red;
            &.active{
            align-items: flex-start;
            }
            // box-shadow: $shadow;
            @media only screen and (max-width: 792px){
                width: 100%;
                // flex-wrap: wrap;
                flex-wrap: wrap;
                gap: 10px;
            }
            &.colunm{
                flex-direction: column-reverse;
                margin-inline: auto;
                align-items: center;
            }
            .col{
                background-color: #fff;
                border-radius: 10px;
                box-shadow: $shadow;
                transition: all .4s ease-in-out;
                width: max-content;
                position: sticky;
                top: 60px;
                // &:hover{
                //     border:1px solid  $secondary-color;
                // }
                @media only screen and (max-width: 792px){
                width: 100%;
                }
                .card{
                min-height: 100px;
                border-radius: 10px;
                // box-shadow: $shadow;
                // background-color: $white;
                padding: 1rem 2rem;

                .rate{
                    // background-color: red;
                    text-align: right;
                    font-size: 13px;
                    font-weight: 600;
                }
                @media only screen and (max-width: 792px){
                width: 100%;
                padding: 1rem;
                }
                    h5{
                        font-size: 15px;
                        color: $primary-color;
                        margin: 15px 0;
                         @media only screen and (max-width: 792px){
                            font-size: 13px;
                        }
                    }
                    &.styck{
                        // position: sticky;
                        // top: 60px;
                        // background-color: RED;
                    }
                }
                &:first-child{
                    width: 35%;
                    border-radius: 10px ;
                    padding:1rem 2rem;
                    border:1px solid  $secondary-color;

                    @media only screen and (max-width: 792px){
                        // position: relative;
                        width: 100%;
                        // position: sticky;
                        // top: 60px;

                    }
                    .card{
                        padding: 0;
                        // background-color: green;
                    }

                    input{
                        background-color: white;
                    }
                }
                &:last-child{
                    width: 40%;

                    @media only screen and (max-width: 792px){
                        position: relative;
                        top: 0;
                        width: 100%;
                    }
                    .card{
                        padding: 1rem;
                        // background-color: green;
                        width: 100%;
                    }
                }
                form {
                @media only screen and (max-width: 792px){
                    width: 100%;
                    position: sticky;
                    top: 60px;
                }
                .form-group {
                    margin-bottom: 15px;
                    text-align: left;
                    margin: 20px 0px;
                    width: 100%;
                    label {
                    display: block;
                    font-weight: bold;
                    margin-bottom: 5px;
                    font-weight: 500;
                    font-size: 13px;
                     @media only screen and (max-width: 792px){
                        font-size: 12px;
                        }
                    }

                    select,input {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid $input-border-color;
                    border-radius: $border-radius;
                    font-size: 12px;
                    }

                    span {
                    font-size: 12px;
                    color: $primary-color;
                    }
                }
                .contentchild{
                    width: 100%;

                    .rowinput{
                        display: flex;
                        gap: 10px;
                        width: 100%;
                    }
                }

                .login-button {
                    width: 100%;
                    padding: 10px 30px;
                    background-color: $secondary-color;
                    margin-top: 10px;
                    color: $white;
                    box-shadow: 0px 0px 2px #ccc;
                    border: none;
                    border-radius: 10px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    cursor: pointer;
                }

                }
                .row-items{
                    display: flex;
                    width: 100%;
                    @media only screen and (max-width: 792px){
                    flex-direction: column;
                    width: 100%;
                    }
                }
                .items{
                    width: 100%;
                    padding: 10px;
                    @media only screen and (max-width: 792px){
                        position: relative;
                        width: 100%;
                    }
                    &:first-child{
                        // border-right: 1px solid #e0e0e0;
                    @media only screen and (max-width: 792px){
                       border: none;
                    }
                    }
                    .item{
                        width: 100%;
                        display: flex;
                        font-size: 14px;
                        color: $primary-color;
                        gap: 5px;
                        align-items: flex-start;
                        &.rowItem{
                        border-top: 1px solid #e0e0e0;
                        padding: 1rem 0;
                        small{
                            margin-top: 0px;
                        }
                        // background-color: red;

                        }
                        &:nth-child(5){
                            // background-color: red;
                            .trait{
                                display: none;
                            }
                        }
                        &.step{
                            display: flex;
                        }
                        .element{
                            align-items: center;
                            justify-content: space-between;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            gap: 5px;
                            &.element2{
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: start;
                                .li{
                                    // background-color: red;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    width: 100%;
                                }
                            }
                            span{
                                // background-color: red;
                                &:first-child{
                                    // width: 50%;
                                    display: block;
                                }
                            }
                        }
                        .goupeStep{
                            width: max-content;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .rond{
                                width: 25px;
                                height: 25px;
                                background-color: $secondary-color;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $white;
                            }
                            .trait{
                                width: 2px;
                                min-height: 45px;
                                // min-height: 40px;
                                background-color: $secondary-color;
                                // color: $primary-color;
                                // border: 1px dashed red;
                            }
                        }
                        small{
                            color: $text;
                            margin-top: 8px;
                        }
                        &:first-child{
                            border:none !important ;
                            // background-color: red;
                        }
                        .info{
                            padding-left: 2px;
                            justify-content: space-between;
                            // background-color: red;
                            display: flex;
                            align-items: center;
                            width: 100%;
                        }
                        &.rowItem{
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            img{
                                height: 20px;
                            }
                        }
                        @media only screen and (max-width: 792px){
                            font-size: 12px;
                        }
                        &.total{
                            border-top: 1px solid $input-border-color;
                            margin-top: 15px;
                            align-items: center;
                            justify-content: space-between;
                            padding: 15px 0;
                            text-transform: uppercase;
                            flex-direction: column;
                            gap: 10px;
                            .element{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-weight: 600;
                                color: $primary-color;
                            }

                        }
                        span{
                            &:last-child{
                                font-weight: 800;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.formstatus{
    width: 100%;
    @media only screen and (max-width: 792px){
        width: 100%;

    }
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .card{
            min-height: 100px;
            width: 400px;
            border-radius: 10px;
            box-shadow: $shadow;
            background-color: $white;
            padding: 1rem 2rem ;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &.confirm{
                display: flex;
                p{
                    text-align: center;
                    font-weight: 400;
                    color: $text;
                    margin: 10px 0;
                }
                button{
                    width: 100%;
                    padding: 10px 30px;
                    background-color: $secondary-color;
                    margin-top: 10px;
                    color: $white;
                    box-shadow: 0px 0px 2px #ccc;
                    border: none;
                    border-radius: 10px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    cursor: pointer;

                }
            }
            .ico{
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 128, 0,0.1);
                color: green;
                border-radius: 50%;
                &.reject{
                    background-color: rgba(255, 0, 0,0.1);
                    color: red;
                }
            }
                h5{
                    font-size: 15px;
                    color: $primary-color;
                    margin: 15px 0;
                }
                &.styck{
                    position: sticky;
                    top: 60px;
            background-color: RED;
                }
            }
    }
}

.test{
    margin-top: 1rem;
    background-color: red;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

.status{
    width: max-content;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    gap: 2px;
    align-items: center;
    svg{
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
    }
     &.pennding {
        background-color: rgb(255, 165, 0, 0.1);
        color: #ffa500 !important;
        box-shadow: 0px 0px 2px #ffa500;
    }

    &.approuve ,&.paid{
        background-color: #28dd701a;
        color: #047131 !important;
        box-shadow: 0px 0px 2px #28dd70;

    }

     &.reject {
        background-color: rgb(255, 213, 213);
        color: red !important;
        box-shadow: 0px 0px 2px red;
    }
}



.setting{
    width: 100%;
    @media only screen and (max-width: 792px){
        width: 100%;
    }
    .container{
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        margin-inline: auto;
        @media only screen and (max-width: 792px){
            width: 100%;
            flex-direction: column;
            }
    // min-height: 100;
        h2 {
        font-size: 12px;
        font-weight: 800;
        color: $primary-color;
        margin-bottom: 10px;
        }
            form {
                @media only screen and (max-width: 792px){
                    width: 100%;
                    top: 60px;
                    position: sticky;
                    // z-index: -1;
                }
                .form-group {
                    margin-bottom: 15px;
                    text-align: left;
                    margin: 20px 0px;
                    width: 100%;
                    label {
                    display: block;
                    font-weight: bold;
                    margin-bottom: 5px;
                    font-weight: 500;
                    font-size: 13px;
                     @media only screen and (max-width: 792px){
                        font-size: 12px;
                        }
                    }

                    select,input {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid $input-border-color;
                    border-radius: $border-radius;
                    font-size: 12px;
                    }

                    span {
                    font-size: 12px;
                    color: $primary-color;
                    }
                }
                .contentchild{
                    width: 100%;

                    .rowinput{
                        display: flex;
                        gap: 10px;
                        width: 100%;
                    }
                }

                .login-button {
                    width: 100%;
                    padding: 10px 30px;
                    background-color: $secondary-color;
                    margin-top: 10px;
                    color: $white;
                    box-shadow: 0px 0px 2px #ccc;
                    border: none;
                    border-radius: 10px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    cursor: pointer;
                }

                }
        .card{
        border-radius: 10px;
        box-shadow: $shadow;
        background-color: $white;
        padding: 2rem;
        width: 380px;


        p {
        font-size: 13px;
        color: $text;
        margin: 10px;
        font-weight: 400;
        }

        @media only screen and (max-width: 792px){
            width: 100%;
        }

        }

        .contentTable{
        flex-grow: 1;
        border-radius: 10px;
        box-shadow: $shadow;
        background-color: $white;
        padding: 2rem;
          @media only screen and (max-width: 792px){
            width: 100%;
            overflow-x: scroll;
            z-index: 1;
            }
            .parentContent{
                width: 100%;
                display: flex;
                flex-direction: column;
                // gap: 10px;
                h6{
                    font-size: 12px;
                }
            }
            .content{
                width: 100%;
                display: flex;
                // align-items: flex-start;
                padding: 1rem 0;
                 @media only screen and (max-width: 792px){
                        width: 100%;
                    flex-direction: column;
                        }
                .elementContent{
                    display: flex;
                    // flex-direction: column;
                    gap: 10px;
                    // border: 1px solid;
                    border: 1px solid $input-border-color;
                    padding: 10px;
                    font-size: 13px;
                    width: calc(100% / 4);
                    justify-content: space-between;
                    align-items: center;
                     @media only screen and (max-width: 792px){
                        width: 100%;
                        }
                    span{
                        // width: calc(100% / 3);
                        font-size: 12px;
                    }
                    // background-color: red;
                }
            }
        }
    }
}



.config{
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    @media only screen and (max-width: 792px){
        width: 100%;
    }
    .container{
    width: 600px;
        h5{
            font-size: 13px;
            text-transform: uppercase;
        }

        .headers{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            width: 100%;
            padding: 10px;
            button{
                background-color: $secondary-color;
                border: none;
                padding: 10px;
                color: $white;
                border-radius: 6px;
                font-weight: 500;
                cursor: pointer;
            }
        }
        @media only screen and (max-width: 792px){
            width: 100%;
            flex-direction: column;
        }
        .contentTable{
        width: max-content;
        min-width: 100%;
        border-radius: 10px;
        box-shadow: $shadow;
        background-color: $white;
        padding: 1rem 2rem;
        @media only screen and (max-width: 792px){
        width: 100% !important;
        min-width: 100%;
        z-index: 1;
        }
        .parentContent{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            text-transform: capitalize;
            // gap: 10px;
                @media only screen and (max-width: 792px){
                width: 100%;
                }
            h6{
                font-size: 12px;
                color: $primary-color;
            }
        }
        .content{
            width: 100%;
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
            // padding: 1rem 0;
            background-color: $background-color;
            padding: 0 5px;
            margin-top: 10px;
            box-shadow: $shadow;
            border-radius: 10px;
                @media only screen and (max-width: 792px){
                    width: 100%;
                    flex-direction: column;
                    }
            .elementContent{
                gap: 10px;
                border-bottom: 1px solid $input-border-color;
                padding: 12px ;
                font-size: 13px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                cursor: pointer;
                text-transform: lowercase;
                color: $text;
                @media only screen and (max-width: 792px){
                width: 100% !important;
                }
                &:last-child{
                    border: none;
                }
                button{
                    background-color: $secondary-color;
                    color: $white;
                    padding: 4px 5px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                }
                // background-color: red;

                span{
                    // width: calc(100% / 3);
                    font-size: 12px;
                }
                // background-color: red;
            }
        }
        }
    }
}




.liste{
    width: 100%;
        @media only screen and (max-width: 792px){
            width: 100%;
    }
    .container{
        width: 85%;
        min-width: 800px;
        // display: grid;
        // place-items: center;
        margin-inline: auto;
        @media only screen and (max-width: 792px){
            width: 100%;
            min-width: 100%;
            margin: 0;
            margin-inline: 0;
            padding: 10px 5px;
            }
    // min-height: 100;
            h2 {
            font-size: 12px;
            font-weight: 800;
            color: $primary-color;
            margin-bottom: 10px;
            }
       .card{
            width: 100%;
            @media only screen and (max-width: 792px){
            width: 100% !important;
            }
            h5{
                font-size: 17px;
                margin-bottom: 10px;
                  @media only screen and (max-width: 792px){
                    font-size: 13px;
                    }
            }
        .headers{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media only screen and (max-width: 792px){
            width: 100% !important;
            flex-direction: column-reverse;
            align-items: start;
            margin-top: 20px;
            }
            .btnexport{
                width: max-content;
                padding: 8px 15px;
                background-color: $secondary-color;
                border: none;
                font-size: 13px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                font-weight: 500;
                color: $white;
                cursor: pointer;
            }
            .boxItem{
                width: 100%;
                display: flex;
                align-items: center;
                margin: 15px 0;
                gap: 10px;
                @media only screen and (max-width: 792px){
                width: 100% !important;
                gap: 0;
                }
                .box{
                    background-color: $white;
                    box-shadow: $shadow;
                    padding: 10px;
                    border-radius: 10px;
                    display: flex;
                    font-size: 13px;
                    gap: 2px;
                    align-items: center;
                    @media only screen and (max-width: 792px){
                        width: calc(100% / 3 - 5px);
                        margin: 2px;
                        font-size: 10px;
                        font-weight: 600;
                        justify-content: space-between;
                        }
                    &:nth-child(1){
                            .ico{
                                background-color: orange;
                            }
                        }
                        &:nth-child(2){
                            .ico{
                                background-color: #047131;
                            }
                        }
                        &:nth-child(3){
                            .ico{
                                background-color: red;
                            }
                        }
                    .ico{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        color: $secondary-color;
                        display: grid;
                        place-items: center;

                    }
                }
            }
        }
        .contentTable {
            width: 100%;
            border-radius: 10px;
            box-shadow: $shadow;
            background-color: $white;
            // width: max-content;
            // overflow: hidden;
            @media only screen and (max-width: 792px){
                width: 100%;
                overflow-x: scroll !important;
                // background-color: #28dd70;
                padding-bottom: 10px;
                // width: calc(100% / 3);
            }
            .empty{
                    text-align: center;
                    padding: 1rem;
                    width: 100%;
                }
            table {
                width: 100%;
                border-collapse: collapse;
                color: $primary-color;
                font-size: 12px;
                    @media only screen and (max-width: 792px){
                        width: max-content;
                        font-size: 10px;
                    }
                thead {
                    th {
                        padding: 16px 20px;
                        text-align: left;
                        background-color:$background-color;
                        text-transform: capitalize;
                        font-size: 11px;
                        // border-bottom: 1px solid $grey;
                    }

                }

                tbody{
                tr {
                    cursor: pointer;
                    border-bottom: 1px solid #e0e0e0;
                    width: 100%;
                        td {
                            padding: 15px 20px;
                            // text-align: left;
                            font-weight: 400;
                            // width: calc(100% / 7);
                            .btnpayement{
                                width: max-content;
                                border: none;
                                background-color: $secondary-color;
                                color: $white;
                                border-radius: 5px;
                                padding: 6px 7px;
                                font-size: 12px;
                                cursor: pointer;
                            }
                                @media only screen and (max-width: 792px){
                                width: max-content;
                                }
                            .ico{
                                width: 40px;
                                height: 40px;
                                background-color: #dcfce7;
                                color: #166434;
                                border-radius: 50%;
                            }
                            &.user{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                .info{
                                    display: flex;
                                    flex-direction: column;
                                    gap: 3px;
                                    span{
                                        &:first-child{
                                            font-weight: 500;
                                        }

                                        &:last-child{
                                        color: $text;
                                        }
                                    }
                                }
                            }

                            &.id {
                                text-transform: uppercase;

                            }

                        .element{

                            &.element2{
                                width: calc(100% - 1px);
                            }
                            .text-wrap{
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            }

                            .btn{
                                // width: ;
                                // background-color: $treeth;
                                padding:10px 15px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 5px;
                                cursor: pointer;
                                border: 1px solid #ccc;

                            }
                            .route{
                                display: flex;
                                flex-direction: column;
                                row-gap: 20px;
                                position: relative;
                                .addresse{
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 17px;
                                    color: #000;
                                    padding-left: 21px;
                                    position: relative;
                                    width: 150px;
                                    &::before{
                                        content: "";
                                        display: block;
                                        width: 10px;
                                        height: 10px;
                                        background: #fff;
                                        border: 1px solid #b0b0b0;
                                        border-radius: 50%;
                                        position: absolute;
                                        left: 0;
                                        top: 2px;
                                        z-index: 2;
                                    }
                                }
                                img {
                                    position: absolute;
                                    left: 5px;
                                    top: 9px;
                                    z-index: 1;
                                    height: 40px;
                                }
                            }

                        }


                        }
                    }
                }

            }
        }
       }
    }
}

.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparentize( #000000,0.7);
    inset: 0;
    z-index: 1060;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: none;
    display: none;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 792px){
        width: 100%;
    }
    &.show{
        display: flex;
    }
    .modal-content{
        // width: 100%;
        // height: 100%;
        // height: max-content;
        // width: max-content;
        @media only screen and (max-width: 792px){
            width: 100%;
            padding: 1rem;
        }
        .card{
            width: 400px;
            min-height: 100px;
            padding: 1rem;
            background-color: $white;
            border-radius: 10px;
            @media only screen and (max-width: 792px){
                width: 100%;
            }
            button{
                width: 100%;
                background-color: $secondary-color;
                border: none;
                padding: 10px;
                border-radius: 10px;
                color: $white;
                cursor: pointer;
            }
        }
    }
}

.form-email{
   @media only screen and (max-width: 792px){
            width: 100%;
        }
        .form-group {
            margin-bottom: 15px;
            text-align: left;
            margin: 20px 0px;
            width: 100%;
            label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 13px;
                @media only screen and (max-width: 792px){
                font-size: 12px;
                }
            }

            select,input {
            width: 100%;
            padding: 10px;
            border: 1px solid $input-border-color;
            border-radius: $border-radius;
            font-size: 12px;
            }

            span {
            font-size: 12px;
            color: $primary-color;
            }
        }

        .login-button {
            width: 100%;
            padding: 10px 30px;
            background-color: $secondary-color;
            margin-top: 10px;
            color: $white;
            box-shadow: 0px 0px 2px #ccc;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            cursor: pointer;
        }
}

.groupe-form{
    width: 100%;
    margin: 10px 0;
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 13px;
            @media only screen and (max-width: 792px){
            font-size: 12px;
            }
        }
    input{
        width: 100%;
        padding: 10px;
        border: 1px solid $input-border-color;
        border-radius: $border-radius;
        font-size: 12px;
        cursor: pointer;
        &:hover{
            border:1px solid $secondary-color;
        }
    }
}


.my-request{
    width: 100%;
    .container{
        width: 85%;
        min-width: 800px;
        // display: grid;
        // place-items: center;
        margin-inline: auto;
        padding: 1rem;
        .card-request{
            display: flex;
            align-items: center;
            width: 100%;
            .card{
                width: calc(100% / 3 - 10px);
                margin: 5px;
                min-height: 10Px;
                background-color: red;
            }
        }
    }
}

